<p><strong>CFC provides primary care, including:</strong></p>
      <ul style="list-style-type: circle;">
        <li>annual physicals</li>
        <li>laboratory testing</li>
        <li>vaccinations</li>
        <li>screening and treatment for chronic conditions</li>
        <li>care for minor symptoms</li>
        <li>treatment of common illnesses</li>
        <li>minor injury care</li>
      </ul>
      <p>Others include:</p>
      <ul style="list-style-type: circle;">
        <li>Health education</li>
        <li>Nutrition guidance</li>
        <li>Pregnancy tests</li>
        <li>Immunization</li>
        <li>Cardiology</li>
        <li>Counseling</li>
        <li>Case management</li>
      </ul>`